.toggle {
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  grid-column: 1 / -1;
}
.toggle-switch {
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  width: 60px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, rgba(0, 0, 0, 0.01) 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-checkbox:checked ~ .toggle .toggle-switch {
  background: rgba(255, 255, 255, 0.15);
}
.toggle-checkbox:checked ~ .toggle .toggle-switch::before {
  left: 38px;
}
.toggle-checkbox:checked ~ .toggle .toggle-label {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toggle-checkbox:checked ~ .dgi__project-card:not([data-category='Komfort']) {
  display: none;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.dgi__project-grid {
  display: grid;
  gap: 1rem;
  margin: 2em 0;
}
.dgi__project-year {
  position: absolute;
  inset: auto 0 0 auto  ;
  padding: 4px 12px;
  background: rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 0.75em;
  border-radius: 8px 0 0 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.dgi__project-card {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.dgi__project-image {
  position: relative;
}
.dgi__project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dgi__project-image::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 25%;
  background: linear-gradient(0deg, #000000 0, rgba(0, 0, 0, 0) 100%);
}
.dgi__project-info {
  line-height: 1;
  padding: 1em;
  position: relative;
}
.dgi__project-info h3 {
  color: var(--color-text);
  margin: 0 0 8px 0;
}
.dgi__project-info p {
  margin: 0;
  padding: 8px 0;
  color: rgba(255, 255, 255, 0.75);
}
.dgi__project-info a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85em;
  color: var(--color-subtext);
  gap: 8px;
}
@media (min-width: 640px) {
  .dgi__project-grid {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .dgi__project-grid {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=project.css.map */